﻿@model IEnumerable<WebApplication2.Models.Shop>

@{
    ViewBag.Title = "Main page";
}

<h2>Main page</h2>

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add shop", "Create", "Shops", routeValues: null, htmlAttributes:  new {@class= "btn btn-default" })
    @Html.ActionLink("Add random shops", "CreateMany", "Shops", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Upload from xlsx", "LoadFromFile", "Shops", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
}



@{ Html.RenderAction("Table", "Home"); }