﻿@using Microsoft.AspNet.Identity
@model IEnumerable<WebApplication2.Models.Shop>

@{
    Layout = "";
    string userId = User.Identity.GetUserId();

}


@Scripts.Render("~/Scripts/vue-bootstrap-table.js")

@Scripts.Render("~/Scripts/app/Home/table.js")

<script>var UserId='@User.Identity.GetUserId()'</script>




<div class="container-fluid">
    <div id="app">
        <div class="row">
            <br/><br/>
            <vue-bootstrap-table
                :columns="columns"
                :values="values"
                :sortable="true"
                :multi-column-sortable=true
                :paginated="true"
            >
            </vue-bootstrap-table>
        </div>
    </div>

</div>




<script>
    var renderEditButtons = function (colname, entry) {
        //only for owners
        if (entry.UserAccountId === UserId)
            return '   <button class="glyphicon glyphicon-edit" type="button" title="Edit"  onclick="editShop(' + entry.ShopId + ')"></button> <button class="glyphicon glyphicon-remove" type="button" title="Delete" onclick="removeShop(' + entry.ShopId + ')"></button>';
        return '';
    };
    var userLinkRender = function (colname, entry) {
        return '  <button class="btn btn-link" type="button" title="Edit"  onclick="goToUser(\'' +entry.UserAccountId + '\')">' + entry.OwnerName+'</button>';
    };
    
    var removeShop = function(ShopId) {
        $("#mi-modal").modal('show');
        this.id = ShopId;
    };
    var confirmRemove = function() {
        $("#mi-modal").modal('hide');
        if (this.id === '') return;
       
        axios.post('/shops/delete/' + this.id.toString())
            .then(response => {
                vm.$children[0].processFilter();
            });
       

    };
    var goToUser = function(id) {
        $(location).attr('href', "/Home/UserInfo/" + id.toString());

    };
    var   editShop= function(ShopId) {
        $(location).attr('href', '/Shops/Edit/' + ShopId.toString());
    };

    Vue.config.debug = true;
    Vue.config.devtools = true;

    var vm=  new Vue({


        el: '#app',
        components: {
            VueBootstrapTable: VueBootstrapTable
        },
        data:
        {
            logging: [],
            showFilter: true,
            showPicker: true,
            paginated: true,
            multiColumnSortable: true,
            ajax: {
                enabled: false,
                url: "/home/TableJson",
                method: "POST",
                delegate: false,
                axiosConfig: {}
            },
            columns: [
                {
                    title: "Owner",
                    visible: true,
                    editable: false,
                    renderfunction:userLinkRender
                }, {
                    title: "Name",
                    name: "Name",
                    visible: true,
                    editable: false,
                },
                {
                    title: "Address",
                    name: "Address",
                    visible: true,
                    editable: false,
                },
                {
                    title: "Create date",
                    name: "CreateDate",
                    visible: true,
                    editable: false,
                },
                {
                    title: "Goods gount",
                    name: "GoodsCount",
                    visible: true,
                    editable: false,
                },
                {
                    title: "Sellers count",
                    name: "SellersCount",
                    visible: true,
                    editable: false,
                },
                {
                    title: "Type",
                    name: "Type",
                    visible: true,
                    editable: false,
                },
                {
                    title: "Action",
                    visible: true,
                    editable: false,
                    renderfunction: renderEditButtons
                }
            ],
            values: [
                {
                    "id": 1,
                    "name": "John",
                    "country": "UK",
                    "age": 25,
                },
                {
                    "id": 2,
                    "name": "Mary",
                    "country": "France",
                    "age": 30,
                },
                {
                    "id": 3,
                    "name": "Ana",
                    "country": "Portugal",
                    "age": 20,
                }
            ],
            id: '',
        },

        methods: {
           
           
        },
        events: {
            cellDataModifiedEvent: function (originalValue, newValue, columnTitle, entry) {
                this.logging.push("Original Value : " + originalValue +
                    " | New Value : " + newValue +
                    " | Column : " + columnTitle +
                    " | Complete Entry : " + entry);
            },
            ajaxLoadedEvent: function (data) {
                console.log("ajaxLoadedEvent - data : " + data);
            },
            ajaxLoadingError: function (error) {
                console.log("ajaxLoadingError - error : " + error);
            },

        },
    });

</script>






<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header borderless">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Do you realy want remove shop?</h4>
            </div>
            <div class="modal-footer borderless">
                <button type="button" class="btn btn-default" id="modal-btn-yes" onclick="confirmRemove()" >Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="alert" role="alert" id="result"></div>


