﻿@model WebApplication2.Models.AccountViewModel

@{
    ViewBag.Title = "About";
}

<h2>Account info</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChainShopsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChainShopsName)
        </dd>

    </dl>
</div>

<H3>My shops</H3>
@{ Html.RenderAction("Table", "Home", new {AccountId=Model.AccountId}); }