﻿@{
ViewBag.Title="Donut formatter";
}

@Scripts.Render("~/Scripts/morris.js")
@Scripts.Render("~/Scripts/raphael-min.js")


<style>
    #graph {
        width: 800px;
        height: 250px;
        margin: 20px auto 0 auto;
    }
    pre {
        height: 250px;
        overflow: auto;
    }
</style>

<div id="graph"></div>



<script>

    $.post("/Shops/ChartData",
        function(data,status) {
            Morris.Donut({
                element: 'graph',
                data: data,
                formatter: function (x, data) { return "is "+data.value+": "+ data.formatted+" %"; }
            });

        });
   
</script>
