﻿@{
    ViewBag.Title = "Upload";
}

<h3>Select xlsx file</h3>
@using (Html.BeginForm("LoadFromFile", "Shops", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <input type="file" name="upload" accept=".xlsx" /><br>
    <input type="submit" value="Загрузить" />
}
